#frm{
    text-align: center;
    font-family: Leelawadee;
}

#fld{
    width: 30%;
    box-shadow: 10px 10px 10px lightblue;
    margin: 100px auto;
    padding-top: 30px;
    border-color: lightskyblue;
    padding-left:50px;
    padding-right:50px;
}

.btn{
    background-color: lightskyblue;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease-in-out;
    outline: 0;
    text-align: center;
}
.btn:hover{
    background-color: dodgerblue;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}
#scheme_name{
  
  font-size:30px;
  text-align:left;
  padding-left:40px;
  padding-bottom:20px;
  
  
  
}
#Due_date{
  font-size:20px;
  
  padding-left:45px;
  text-align:left;
  padding-bottom:20px;
  
}
#Date_of_joining{
  font-size:20px;
  
  padding-left:45px;
  text-align:left;
  padding-bottom:20px;
  
}
.right{
    float:right;
    color:black;
}

.left{
    float:left;
    color:black;
}
#payment{
  padding-left:40px;
  border:1px solid black;
  text-align:left;
  padding-bottom:20px;
  padding-top:20px;
  padding-right:40px;
}
#due_month,#amount{
  font-size: 20px;
}